.table-actions-ride {
  padding-bottom: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__button {
    margin: 0 8px;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
